.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding-large) 0;
    padding-top: 24px;
    box-sizing: border-box;
    height: 124px;
    background: linear-gradient(81.12deg, #CE2D1E 3.34%, #4A1E1E 98.84%);
    border-bottom-left-radius: var(--padding-large);
    border-bottom-right-radius: var(--padding-large);
}

.header_content {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding-large);
}