.flag {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background-dark-color);
}

.flag_s {
    border-radius: 12px;
    height: 24px;
    width: 24px;
}

.flag_m {
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

.flag_l {
    border-radius: 24px;
    height: 48px;
    width: 48px;
}
