@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

body {
  margin: 0;
  font-family: 'SF UI Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /** Colors */
  --accent-color: #CE2D1E;
  --regular-color: #FFFFFF;
  --regular-inverted-color: #000000;
  --secondary-color: #B8B8B8;

  --background-color: #1F2130;

  --background-dark-color: rgba(0, 0, 0, 0.24);
  --background-light-color: rgba(255, 255, 255, 0.04);
  --background-lighter-color: rgba(255, 255, 255, 0.08);
  --background-lightest-color: rgba(255, 255, 255, 0.12);

  --background-accent-color: rgba(206, 45, 30, 0.24);

  /** Font size */
  --font-size-s: 13px;
  --font-size-m: 15px;
  --font-size-l: 17px;
  --font-size-xl: 19px;
  --font-size-xxl: 21px;

  /** Font weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;

  /** Padding */
  --padding-large: 16px;
  --padding-medium: 12px;
  --padding-regular: 8px;
  --padding-small: 6px;
  --padding-extrasmall: 4px;
  --padding-tiny: 2px;
}